<picture>
  <source
    srcset="https://res.cloudinary.com/usefuldev-cloudinary/image/upload/w_300/f_webp/v1580217403/rainbow-bridge_dr2pyi.jpg"
    media="(max-width: 599.99px)"
    type="image/webp"/>
  <source
    srcset="https://res.cloudinary.com/usefuldev-cloudinary/image/upload/w_1280/f_webp/v1580217403/rainbow-bridge_dr2pyi.jpg"
    media="(min-width: 1280px) and (max-width: 1919.99px)"
    type="image/webp"/>
  <source
    srcset="https://res.cloudinary.com/usefuldev-cloudinary/image/upload/w_1920/f_webp/v1580217403/rainbow-bridge_dr2pyi.jpg"
    media="(min-width: 1920px)"
    type="image/webp"/>
  <source
    srcset="https://res.cloudinary.com/usefuldev-cloudinary/image/upload/w_600/f_webp/v1580217403/rainbow-bridge_dr2pyi.jpg"
    media="(min-width: 600px) and (max-width: 959.99px)"
    type="image/webp"/>
  <source
    srcset="https://res.cloudinary.com/usefuldev-cloudinary/image/upload/w_960/f_webp/v1580217403/rainbow-bridge_dr2pyi.jpg"
    media="(min-width: 960px) and (max-width: 1279.99px)"
    type="image/webp"/>
  <source
    srcset="https://res.cloudinary.com/usefuldev-cloudinary/image/upload/w_300/f_jpg/v1580217403/rainbow-bridge_dr2pyi.jpg"
    media="(max-width: 599.99px)"
    type="image/jpg"/>
  <source
    srcset="https://res.cloudinary.com/usefuldev-cloudinary/image/upload/w_1280/f_jpg/v1580217403/rainbow-bridge_dr2pyi.jpg"
    media="(min-width: 1280px) and (max-width: 1919.99px)"
    type="image/jpg"/>
  <source
    srcset="https://res.cloudinary.com/usefuldev-cloudinary/image/upload/w_1920/f_jpg/v1580217403/rainbow-bridge_dr2pyi.jpg"
    media="(min-width: 1920px)"
    type="image/jpg"/>
  <source
    srcset="https://res.cloudinary.com/usefuldev-cloudinary/image/upload/w_600/f_jpg/v1580217403/rainbow-bridge_dr2pyi.jpg"
    media="(min-width: 600px) and (max-width: 959.99px)"
    type="image/jpg"/>
  <source
    srcset="https://res.cloudinary.com/usefuldev-cloudinary/image/upload/w_960/f_jpg/v1580217403/rainbow-bridge_dr2pyi.jpg"
    media="(min-width: 960px) and (max-width: 1279.99px)"
    type="image/jpg"/>
  <img
    src="https://res.cloudinary.com/usefuldev-cloudinary/image/upload/v1580217403/rainbow-bridge_dr2pyi.jpg"
    alt="test"
/></picture>
